{% extends "bootstrap_layout.html" %}


{% block content %}

    <h2>Birthday Results for {{ chart_type }}</h2>

    <p>Birthday: {{ birth_date }}</p>

    <!-- TODO: consider using a table instead of a list -->
    <ul>
    {% for entry in results %}
        <li> {{entry}} </li>
    {% endfor %}
    </ul>
    <p>Want this emailed as a birthday card? Enter your email below!</p>
    <form action="/birthday/email" method="POST">

        <label>Email address:</label>
        <input type="text" name="SENDER_EMAIL_ADDRESS" placeholder="example@example.com">
        <br>

        <button>Submit</button>
    </form>

{% endblock %}