{% extends "bootstrap_layout.html" %}
{% set active_page = "birthday_form" %}

{% block content %}

    <h2>Birthday Form</h2>

    <img src="https://sites.sju.edu/wade/files/2016/05/Happy-birthday-image.jpg" alt="Trulli" width="500" height="333">

    <p>Request a billboard chart based on your birthday...</p>

    <form action="/birthday/billboard" method="POST">

        <label>Birth Date:</label>
        <input type="text" name="birth_date" placeholder="2000-01-01" value="2000-01-01">
        <br>
        
        <label>Chart Type:</label>
        <select class="selectpicker show-tick" name="chart_type" id="chart_type" aria-label="chart_type">
          <option value="hot-100">hot-100</option>
          <option value="pop-songs">pop-songs</option>
          <option value="country-songs">country-songs</option>
          <option value="r-and-b-songs">r-and-b-songs</option>
          <option value="rap-songs">rap-songs</option>
          <option value="rock-songs">rock-songs</option>
          <option value="latin-songs">latin-songs</option>
          <option value="dance-electronic-songs">dance-electronic-songs</option>
          <option value="christian-songs">christian-songs</option>
        </select>
          
        <button>Submit</button>
    </form>

{% endblock %}